* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}
