@import "./global";

body {
  background: hsl(233, 47%, 47%);
}

h1,
h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Lexend Deca";
}

.content {
  position: absolute;
  height: 46%;
  width: 57%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  @include flex(row, center, center);
  background: hsl(244, 38%, 16%);
  border-radius: 0.5rem;

  .text {
    margin: 0rem 5rem;
    flex: 1 1 40rem;

    h1 {
      width: 78%;
    }

    span {
      color: hsl(277, 64%, 61%);
    }

    .content-p {
      color: hsla(0, 0%, 100%, 0.75);
      font-size: 15px;
      margin: 2rem 0rem;
      width: 100%;
    }

    .stats {
      @include flex(row, space-between, center);
      width: 90%;
      margin-top: 3rem;

      .stat {
        p {
          color: hsla(0, 0%, 100%, 0.6);
          text-transform: uppercase;
          font-size: 80%;
        }
      }
    }
  }

  .content-image {
    flex: 1 1 40rem;
  }
}
